/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=UnifrakturCook:wght@700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;




/* overiding some antd styles */
.primary-button {
    background-color: #0d4928 !important;
    border: 1px solid #0d4928 ;
    color: white !important;
  }
  
  .primary-button:hover {
    border: 1px solid #116135 !important;
    background-color: #116135 !important;
  }
